<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="todoListApp">
    <div ng-controller="todoListController">
        <select ng-model="categoriaSelecionada">
            <option  ng-repeat="categoria in categorias track by $index" ng-value = "$index">{{categoria.nome}}</option>
        </select>
        <div>
           <input type="text" ng-model="novoToDo" id="novoToDo$index"></input>
           <button ng-click="addList(categoriaSelecionada,novoToDo)">add</button>
           <button ng-click="updateList(categoriaSelecionada,novoToDo)">update</button>
        </div>
        <ul >
        <li ng-repeat="superThing in categorias track by $index">
            <ol>{{superThing.nome}}
            <div ng-repeat="thing in superThing.lista track by $index">
              <li >{{thing}}
                <button ng-click="removeList($index, $parent.$index)">X</button>
              </li>
            </div>
          </ol>
        </li>
      </ul>

   </div>
</body>

</html>